ion-content {
    ion-card {
        border-top: 2px solid orange;
        ion-card-header {
            border-bottom: 2px solid #24282f;

            ion-item {
                ion-thumbnail {
                    height: 28px;
                    width: 28px;
                }
                ion-label {
                    margin-left: 12px;
                    font-size: 20px;
                    color: orange;
                }
            }
        }

        ion-list {
            display: contents;
            ion-item {
                ion-avatar {
                    color: orange;
                }
                ion-label {
                    h2 {
                        color: orange;
                    }
                }
            }
        }
    }
}
