<ion-header translucent="true" color="secondary">
    <ion-toolbar color="secondary">
        <ion-buttons slot="end">
            <ion-button slot="icon-only">
                <ion-icon name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Settings</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="primary" fullscreen="true">
    <ion-item
        color="tertiary"
        *ngFor="
            let lel of [
                0,
                1,
                2,
                3,
                4,
                5,
                6,
                7,
                8,
                9,
                10,
                11,
                12,
                13,
                14,
                3,
                4,
                5,
                6,
                7,
                8,
                9,
                10,
                11,
                12,
                13,
                14,
                15
            ]
        "
    >
        <ion-label> Item Number: {{ lel }} </ion-label>
    </ion-item>
</ion-content>
