<ion-header>
    <ion-toolbar color="tertiary">
        <ion-buttons slot="start">
            <ion-button (click)="onCloseCreateList()" slot="icon-only">
                <ion-icon mode="ios" name="close"> </ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Create new list</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content color="primary">
    <ion-card color="secondary">
        <form [formGroup]="formGroup">
            <ion-item color="tertiary">
                <ion-label position="stacked">
                    List name
                </ion-label>
                <ion-input
                    formControlName="listName"
                    placeholder="Enter a name for your list"
                ></ion-input>
            </ion-item>
            <ion-item color="tertiary">
                <ion-label>Editable</ion-label>
                <ion-toggle
                    [color]="getEditable() ? 'success' : 'danger'"
                    formControlName="editable"
                ></ion-toggle>
            </ion-item>
        </form>
    </ion-card>
    <ion-card
        color="secondary"
        *ngFor="let newItem of itemsFormGroups; index as index"
    >
        <form [formGroup]="newItem">
            <ion-item color="tertiary">
                <ion-label position="stacked">
                    Item name
                </ion-label>
                <ion-input
                    required="true"
                    formControlName="itemName"
                    placeholder="Enter a name for your item"
                ></ion-input>
            </ion-item>
            <ion-item color="tertiary">
                <ion-label position="stacked">
                    Description
                </ion-label>
                <ion-textarea
                    formControlName="description"
                    cols="3"
                    autoGrow="true"
                    placeholder="Enter a description (optional)"
                >
                </ion-textarea>
            </ion-item>
            <ion-item color="tertiary">
                <ion-label position="stacked">
                    Brand name
                </ion-label>
                <ion-input
                    formControlName="brand"
                    placeholder="Enter a brand for your item (optional)"
                ></ion-input>
            </ion-item>
            <ion-item color="tertiary">
                <ion-label position="stacked">
                    Price
                </ion-label>
                <ion-input
                    formControlName="price"
                    placeholder="Enter a price for your item (optional)"
                ></ion-input>
            </ion-item>
            <ion-button
                *ngIf="index > 0"
                expand="block"
                fill="outline"
                color="danger"
                class="ion-margin-start ion-margin-end"
                (click)="deleteItem(index)"
                >Delete Item</ion-button
            >
        </form>
    </ion-card>
    <ion-button (click)="createNewItem()" expand="block" fill="solid"
        ><ion-icon color="warning" name="add"></ion-icon
    ></ion-button>
    <ion-button
        [disabled]="formGroup.invalid"
        fill="solid"
        expand="block"
        (click)="onAddList()"
        >Create List</ion-button
    >
</ion-content>
