<ion-content color="primary">
    <ion-row class="h-100 ion-justify-content-center ion-align-items-center">
        <ion-card color="secondary" class="w-100">
            <ion-card-header>
                <ion-card-title>
                    <ion-row
                        class="ion-no-margin ion-no-padding ion-justify-content-center"
                    >
                        Sign in
                    </ion-row>
                </ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-padding">
                <form [formGroup]="formGroup">
                    <ion-item color="tertiary">
                        <ion-label position="floating">
                            Username
                        </ion-label>
                        <ion-input
                            formControlName="userName"
                            placeholder="Enter username"
                        ></ion-input>
                    </ion-item>
                    <ion-item class="ion-margin-vertical" color="tertiary">
                        <ion-label position="floating">
                            Password
                        </ion-label>
                        <ion-input
                            formControlName="password"
                            type="password"
                            placeholder="Enter password"
                        ></ion-input>
                    </ion-item>
                </form>
                <ion-row>
                    <ion-button
                        (click)="onLoginUser()"
                        [disabled]="formGroup.invalid"
                        color="tertiary"
                        expand="block"
                        class="w-100"
                    >
                        Login
                    </ion-button>
                </ion-row>
                <ion-row>
                    <ion-button
                        (click)="onGoToRegisterPage()"
                        class="w-100 sign-up-button"
                        fill="clear"
                        expand="block"
                        >No account? Sign up here!</ion-button
                    >
                </ion-row>
            </ion-card-content>
        </ion-card>
    </ion-row>
</ion-content>
