<ion-header color="secondary">
    <ion-buttons>
        <ion-back-button></ion-back-button>
    </ion-buttons>
</ion-header>
<ion-content color="primary">
    <ion-row class="h-100 ion-justify-content-center ion-align-items-center">
        <ion-card color="secondary" class="w-100">
            <ion-card-header>
                <ion-card-title>
                    <ion-row
                        class="ion-no-margin ion-no-padding ion-justify-content-center"
                    >
                        Sign up
                    </ion-row>
                </ion-card-title>
            </ion-card-header>
            <ion-card-content class="ion-padding">
                <ion-item color="tertiary">
                    <ion-label position="floating">
                        Username
                    </ion-label>
                    <ion-input placeholder="Enter username"></ion-input>
                </ion-item>
                <ion-item class="ion-margin-vertical" color="tertiary">
                    <ion-label position="floating">
                        Password
                    </ion-label>
                    <ion-input
                        type="password"
                        placeholder="Enter password"
                    ></ion-input>
                </ion-item>
                <ion-item class="ion-margin-vertical" color="tertiary">
                    <ion-label position="floating">
                        Rewrite password
                    </ion-label>
                    <ion-input
                        type="password"
                        placeholder="Enter password again"
                    ></ion-input>
                </ion-item>
                <ion-row class="ion-no-padding ion-no-margin">
                    <ion-col size="6" class="ion-no-padding ion-no-margin">
                        <ion-button color="tertiary" expand="block">
                            Register
                        </ion-button>
                    </ion-col>
                    <ion-col size="6" class="ion-no-padding ion-no-margin">
                        <ion-button color="tertiary" expand="block">
                            Register
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </ion-row>
</ion-content>
