<ion-header>
    <ion-toolbar color="tertiary">
        <ion-title>
            Ionic Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="primary">
    <ion-card>
        <ion-list class="ion-margin">
            <ion-item color="secondary">
                <ion-label>
                    Username
                </ion-label>
                <ion-input placeholder="Enter username"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>
                    Password
                </ion-label>
                <ion-input placeholder="Enter password"></ion-input>
            </ion-item>
        </ion-list>
    </ion-card>
</ion-content>
